.example.example-3 {
    background-color: #bcbabe;
}

.example.example-3 * {
    font-family: Quicksand, Open Sans, Segoe UI, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.example.example-3 fieldset {
    margin: 0 15px 20px;
    padding: 0;
    border-style: none;
    background-color: #a1d6e2;
    border-radius: 4px;
}

.example.example-3 .field {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}

.example.example-3 .field .autofilled {
    background-color: #fefde5 !important;
}

.example.example-3 input:-webkit-autofill,
.example.example-3 input:-webkit-autofill:hover,
.example.example-3 input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #fefde5 inset;
    box-shadow: 0 0 0px 1000px #fefde5 inset;
}

.example.example-3 .field+.field {
    border-top: 1px solid #1995ad;
}

.example.example-3 .field .half {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    width: calc(50% - 13px);
    vertical-align: top;
    margin-right: 3.5px;
}

.example.example-3 .field .half input {
    width: calc(100% - 70px);
}

.example.example-3 .field .half+.half {
    margin-left: 3.5px;
    margin-right: 0px;
}

.field.container {
    border-radius: 4px;
    padding: 3px;
}

#example-3-pan {
    width: calc(100% - 15px);
}

#example-3-expiration {
    width: calc(100% - 15px);
}

#example-3-cvv {
    width: calc(100% - 15px);
}

.example.example-3 label {
    width: fit-content;
    margin-right: 15px;
    padding: 11px 0;
    color: #f1f1f3;
    white-space: nowrap;
}

.example.example-3 input,
.example.example-3 button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border-style: none;
}

.example.example-3 .DlocalField {
    width: 100%;
    padding: 11px 15px 11px 0;
}

.example.example-3 input {
    width: 100%;
    padding: 11px 15px 11px 0;
    color: white;
    background-color: transparent;
    -webkit-animation: 1ms void-animation-out;
}

.example.example-3 input::-webkit-input-placeholder {
    color: #1995ad;
}

.example.example-3 input::-moz-placeholder {
    color: #1995ad;
}

.example.example-3 input:-ms-input-placeholder {
    color: #1995ad;
}

.example.example-3 button {
    display: block;
    width: calc(100% - 30px);
    height: 40px;
    margin: 40px 15px 0;
    background-color: #1995ad;
    box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #bcbabe;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.example.example-3 button:active {
    background-color: #1995ad;
    box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #bcbabe;
}

.example.example-3 .error svg .base {
    fill: #e25950;
}

.example.example-3 .error svg .glyph {
    fill: #f6f9fc;
}

.example.example-3 .error .message {
    color: #e25950;
}

.example.example-3 .success .icon .border {
    stroke: #1995ad;
}

.example.example-3 .success .icon .checkmark {
    stroke: #f1f1f3;
}

.example.example-3 .success .title {
    color: #f1f1f3;
}

.example.example-3 .success .message {
    color: #f1f1f3;
}

.example.example-3 .success .reset path {
    fill: #f1f1f3;
}

.example.example-3 .container {
    width: unset;
}